<div class="left">
  <div class="content">
    <h2>Forget Password</h2>
    <form method="post" action="/">
       <input name="forgetEmail" type="email" placeholder="email" class="full" required/>
       <button type="submit" class="full" name="typeOfSubmit" value="reset">Reset</button>
    </form>
    <a href="/"><button class="off float-left">Sign Up</button></a>
    <button id="goLeft" class="off float-right">Forget Password</button>
  </div>
  <% if (mess != 'Username đã tồn tại' && mess != '') {%>
  <div class="alert alert-success alert-dismissible error_login" >
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><%= mess %></h5>
  </div>
  <% } %>
</div>
